<% if @user %>
<div class="profile-top">
  <img class="bg" src="/assets/profile_top.png">
  <div class="line top"></div>
  <div class="line bottom"></div>

  <div class="info">
    <%= image_tag @user.avatar_url %>
    <p class="name"><%= @user.name %></p>
  </div>

  <img src="" alt="" class="avatar">
</div>
<div class="images">
<div class="main-content">
  <% @images.each do |post| -%>
      <div class="image-holder-holder" data-image-id="<%= post.id %>">
        <div class="image-holder">
          <div class="likes-counter <%= 'liked' if (@user.images.exists? post if @user) %>">
            <%= (@user && ! @user.images.exists?(post)) ? (link_to raw(%(<p>#{post.likes_count}</p>)), {action: :like, photo_id: post.id}, remote: true) : raw(%(<p>#{post.likes_count}</p>))  %>
          </div>
          <div class="image-cropper"> <%= link_to image_tag(post.image_link, class: 'popupopener'), '#' -%></div>
          <div class="image-data"><%= image_tag post.auth.avatar_url, class: :avatar %>
            <span> <%= post.auth.name %> </span> <%= image_tag %(#{post.provider}.png) %></div>
        </div>
        <div class="popup-holder">
          <%= render partial: 'post', object: post %>
        </div>
      </div>
  <%- end -%>
  <div class="preloader">
    <%= link_to image_tag('preloader.png'), {controller: params[:controller], action: params[:action], order: params[:order] || 'time', page: (params[:page].to_i+1) || 2}, remote: true, class: 'next-page-link' if @images.count == 24 %>
  </div>
</div>
</div>

<% else %>

    <div class="auth-block">
      <p class="title">Войти через:</p>
      <div class="buttons">
        <p class="with-notice"><a href="/auth/facebook" class="w-button facebook"><span>Facebook</span></a>
          <span class="facebook-notice">Залогинившись через Facebook, ты сможешь только голосовать</span>
        </p>
        <p><a href="/auth/twitter" class="w-button twitter"><span>Twitter</span></a></p>
        <p><a href="/auth/instagram" class="w-button instagram"><span>Instagram</span></a></p>
      </div>
      <p class="note">Авторизуйся, чтобы выигрывать призы <br>
        и голосовать за фотографии</p>
    </div>
<% end %>