<!DOCTYPE html>
<html>
<head>
  <title>L2013</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="navbar-content-holder">
        <a class="brand" href="/"><img src="assets/header_logo.png"></a>
        <ul class="nav">
          <% if @user -%>
              <li><%= link_to @user.name, action: :view, controller: :frontend -%></li>
              <li><%= link_to 'выйти', action: :login, controller: :frontend -%> </li>
          <%- else -%>
              <li <%= %(class=active) if params[:action] == 'login' -%>><%= link_to 'логин', action: :login, controller: :frontend -%></li>
          <%- end -%>
          <li <%= %(class=active) if params[:action] == 'rating' -%>><%= link_to 'топ', action: :rating, controller: :frontend -%></li>
          <li <%= %(class=active) if params[:action] == 'rules' -%>><%= link_to 'правила', action: :rules, controller: :frontend -%></li>
        </ul>
  </div>
  </div>
</div>
<div class="spacer"></div>
<div class="wrapper">

<%= yield %>

</div>

</body>
</html>
