<!DOCTYPE html>
<html>
<head>
  <title>L2013</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "frontend-kir", :media => "screen" %>
  <%= stylesheet_link_tag    "mobile_kir_960", :media => "only screen and (max-device-width:960px)" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="navbar-content-holder">
        <a class="brand" href="/">
          <%= image_tag "header_logo.png" %>
        </a>
        <ul class="nav">
          <% if @user -%>
              <li><%= link_to @user.name, action: :view, controller: :frontend -%></li>
          <%- else -%>
              <li class="login-button"><a href="#">Логин</a></li>
          <%- end -%>
          <li <%= %(class=this) if params[:action] == 'about' -%>><%= link_to 'О конкурсе', action: :about, controller: :frontend -%></li>
          <li <%= %(class=this) if params[:action] == 'rules' -%>><%= link_to 'правила', action: :rules, controller: :frontend -%></li>
        </ul>
  </div>
  </div>
</div>
<div class="spacer"></div>
<div class="wrapper">

<%= yield %>

</div>
<div class="spacer"></div>

</body>
</html>
