<!DOCTYPE html>
<html>
<head>
  <title>L2013</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "frontend-kir", :media => "screen" %>
  <%= stylesheet_link_tag    "mobile_kir_960", :media => "only screen and (max-device-width:960px)" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=640" />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34546660-3']);
    _gaq.push(['_setDomainName', 'liptontea.ru']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="navbar-content-holder">
        <a class="brand" href="/">
          <%= image_tag "header_logo.png" %>
        </a>
        <ul class="nav">
          <li <%= %(class=this) if params[:action] == 'lipton' -%>><%= link_to 'Lipton', action: :lipton, controller: :frontend -%></li>
          <li <%= %(class=this) if params[:action] == 'about' -%>><%= link_to 'О конкурсе', action: :about, controller: :frontend -%></li>
          <li <%= %(class=this) if params[:action] == 'gifts' -%>><%= link_to 'Призы', action: :gifts, controller: :frontend -%></li>
        </ul>
  </div>
  </div>
</div>
<div class="spacer"></div>
<div class="overlay"><%= (render partial: 'post', object: @popup) if @popup %></div>
<div class="wrapper">

<%= yield %>

</div>
<div class="spacer"></div>

</body>
</html>
